<ControlledVocabularySettings>
    <setting name="AutoUpdate" value="true"/>
    <setting name="CopySubjectToClipboard" value="false"/>
    <setting name="CallMailtoProtocol" value="true"/>
    <setting name="LastUpdateCheckDate" value=""/>
    <setting name="UpdateCheckFrequency" value="2"/>
    <setting name="ErrorEmail" value="controlledvocab@freetodev.com"/>
    <setting name="MasterEmailAccount" value=""/>
</ControlledVocabularySettings>